/**
 * Estilos personalizados para PSG2-2526-G2-25 Petclinic
 * Paleta marrón cálida con diseño limpio
 */

/* Importar fuente */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

/* Variables de color - Paleta marrón */
:root {
  /* Colores primarios marrones */
  --ifm-color-primary: #a0522d;
  --ifm-color-primary-dark: #8f4927;
  --ifm-color-primary-darker: #864425;
  --ifm-color-primary-darkest: #6e381f;
  --ifm-color-primary-light: #af6038;
  --ifm-color-primary-lighter: #b8673d;
  --ifm-color-primary-lightest: #cd7a4d;
  
  /* Tipografía */
  --ifm-font-family-base: 'Merriweather', 'Georgia', serif;
  --ifm-heading-font-family: 'Merriweather', 'Georgia', serif;
  
  /* Ajustes básicos */
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(160, 82, 45, 0.1);
  
  /* Navbar y Footer */
  --ifm-navbar-background-color: #3a1f18;
  --ifm-footer-background-color: #2f1b0c;
}

/* Modo oscuro */
[data-theme='dark'] {
  --ifm-color-primary: #cd853f;
  --ifm-color-primary-dark: #c87a2f;
  --ifm-color-primary-darker: #c17328;
  --ifm-color-primary-darkest: #a05f21;
  --ifm-color-primary-light: #d2904f;
  --ifm-color-primary-lighter: #d59756;
  --ifm-color-primary-lightest: #deaa6d;
  
  --docusaurus-highlighted-code-line-bg: rgba(205, 133, 63, 0.2);
  --ifm-background-color: #1a1410;
  --ifm-navbar-background-color: #2f1b0c;
  --ifm-footer-background-color: #1a1410;
}

